.hBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-basis: 30%;
}

.showItem {
  color: blue;
  font-size: large;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}
