.menuContainer {
  height: 87vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.fishingDashboard {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.fullScreenFishingDash {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.sessionDashboard {
  height: 50vh;
  width: 100vw;
}

.fullScreenSessionDash {
  height: 81vh;
  width: 100vw;
}

.extraStats {
  height: 43vh;
  width: 100vw;
}

.dashboardExtender {
  height: 10vh;
  width: 100vw;

  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;

  color: aliceblue;
  font-weight: bolder;
  font-size: xx-large;
}

.optionsWrapper {
  height: 40vh;
  width: 100vw;

  position: absolute;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
}

.optionButtonsClosed {
  height: 40vh;
  width: 100vw;
  background-color: white;

  transform: translateY(30vh);
  transition: transform 0.3s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  pointer-events: auto;
}

.optionButtonsOpened {
  height: 40vh;
  width: 100vw;
  background-color: white;

  transition: transform 0.3s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  pointer-events: auto;
}

.buttonContainer {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: lightblue;
  justify-content: space-between;
}

.buttonInfoHeader {
  font-size: medium;
  font-weight: bold;
}

.buttonInfo {
  font-size: medium;
  font-weight: lighter;
  overflow: hidden;
}

.buttonInfoContainer {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 15vh;
  justify-content: space-around;
}

.button {
  width: 15vw;
  height: 14vh;
}
